# Análisis de archivo de películas

In [2]:
import pandas as pd

In [3]:
movies_df = pd.read_csv('../MoviesOnStreamingPlatforms_updated.csv')

In [9]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
Unnamed: 0         16744 non-null int64
ID                 16744 non-null int64
Title              16744 non-null object
Year               16744 non-null int64
Age                7354 non-null object
IMDb               16173 non-null float64
Rotten Tomatoes    5158 non-null object
Netflix            16744 non-null int64
Hulu               16744 non-null int64
Prime Video        16744 non-null int64
Disney+            16744 non-null int64
Type               16744 non-null int64
Directors          16018 non-null object
Genres             16469 non-null object
Country            16309 non-null object
Language           16145 non-null object
Runtime            16152 non-null float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

In [13]:
# maximo largo de la columna title
movies_df.Title.str.len().max()

112

In [14]:
movies_df.Netflix.max()

1

In [15]:
movies_df.Netflix.min()

0

In [31]:
movies_df.Netflix.unique()

array([1, 0])

In [16]:
movies_df.Type.max()

0

In [17]:
movies_df.Type.min()

0

In [25]:
movies_df.Directors.str.len().min()

3.0

In [24]:
movies_df.Directors.str.len().max()

438.0

In [26]:
movies_df.Genres.str.len().min()

3.0

In [27]:
movies_df.Genres.str.len().max()

67.0

In [29]:
movies_df.Country.str.len().min()

4.0

In [30]:
movies_df.Country.str.len().max()

218.0

In [37]:
movies_df.Runtime.sample(30)

9067      57.0
201      115.0
6513     104.0
12546     54.0
12081     75.0
10591     77.0
4689     120.0
5628      99.0
5018      85.0
80        22.0
4145     108.0
15669     97.0
10740     30.0
99       139.0
3703      87.0
1080     113.0
10516     90.0
15261     75.0
15712     65.0
16702     87.0
16650     10.0
9511     150.0
12315     98.0
2513     100.0
5991      61.0
3399      91.0
7965     103.0
7217      81.0
3305       NaN
8491       NaN
Name: Runtime, dtype: float64

In [17]:
movies_df.Age.str.slice(0,-1).fillna(0).sample(30)

1103     NaN
14034    NaN
12057    NaN
12770    NaN
7055      18
11294    NaN
3828      13
11954    NaN
16490     al
16123    NaN
3301     NaN
10165      7
15171    NaN
9293     NaN
3088     NaN
14244    NaN
9768     NaN
6867     NaN
5461      13
10631     18
6962      18
547      NaN
5150      18
9779      18
9824       7
10913    NaN
7719       7
16437     al
11832    NaN
6624     NaN
Name: Age, dtype: object

In [28]:
pd.to_numeric((movies_df.Age.replace('all', '0+')).str.slice(0, -1))

0        13.0
1        18.0
2        13.0
3         7.0
4        18.0
         ...
16739     NaN
16740     7.0
16741     NaN
16742     NaN
16743     NaN
Name: Age, Length: 16744, dtype: float64

In [18]:
movies_df[movies_df.Age=='all']

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
54,54,55,Willy Wonka & the Chocolate Factory,1971,all,7.8,91%,1,0,0,0,0,Mel Stuart,"Family,Fantasy,Musical","United States,East Germany,West Germany,Belgium","English,French,German,Italian",100.0
91,91,92,Tarzan,1999,all,7.3,89%,1,0,0,0,0,David Yates,"Action,Adventure,Drama,Fantasy,Romance","United Kingdom,Canada,United States","English,Lingala,French",110.0
125,125,126,The Princess and the Frog,2009,all,7.1,85%,1,0,0,1,0,"Ron Clements,John Musker","Animation,Adventure,Comedy,Family,Fantasy,Musi...",United States,"English,French",97.0
133,133,134,Barfi!,2012,all,8.1,86%,1,0,0,0,0,Anurag Basu,"Comedy,Drama,Romance",India,Hindi,151.0
151,151,152,Swades,2004,all,8.2,83%,1,0,0,0,0,Ashutosh Gowariker,Drama,India,"Hindi,English",210.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16722,16722,16723,Secrets of Life,1956,all,7.2,NaN,0,0,0,1,0,James Algar,"Documentary,Family",United States,English,70.0
16726,16726,16727,Richie Rich's Christmas Wish,1998,all,4.1,NaN,0,0,0,1,0,John Murlowski,"Comedy,Family",United States,English,84.0
16727,16727,16728,The Jungle Book: Mowgli's Story,1998,all,4.2,NaN,0,0,0,1,0,Nick Marck,"Adventure,Family",United States,English,77.0
16737,16737,16738,The Bears and I,1974,all,6.2,NaN,0,0,0,1,0,Bernard McEveety,"Drama,Family",United States,English,89.0
16738,16738,16739,Whispers: An Elephant's Tale,2000,all,5.0,NaN,0,0,0,1,0,Dereck Joubert,"Adventure,Family",United States,English,72.0